<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Virtual Ticketing Forms</title>
</head>
<body bgcolor="#003366">
	<h1 style="color:white;">Virtual Ticketing Form</h1>
<form method="post">
   {% csrf_token %}
  <p id="par1" ><b style="color:white;" for="fname">Name of Officer Incharge:</b><br></p>
  <input type="text" id="name1" name="name1"><br>
  <p id="par2" ><b style="color:white;" for="lname">Name of Violator:</b><br></p>
  <input type="text" id="name2" name="name2"><br>
  <p id="par3" ><b style="color:white;" for="lname">Violation:</b><br></p>
  <input type="text" id="name3" name="name3"><br>
  <p id="par4" ><b style="color:white;" for="lname">License No:</b><br></p>
  <input type="text" id="name4" name="name4"><br>
  <p id="par5" ><b style="color:white;" for="lname">Date:</b><br></p>
  <input type="text" id="name5" name="name5"><br>
  <p id="par6" ><b style="color:white;" for="lname">Fine:</b><br></p>
  <input type="text" id="name6" name="name6"><br>
  <p id="par7" ><b style="color:white;" for="lname">Email:</b><br></p>
  <input type="text" id="name7" name="name7"><br>
<br>
<br>
  
<input type="submit" value="submit" id="done" name="done" >
</form>
</body>
</html>