<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
     <center>
      <meta charset="utf-8">
      <title>Contact us Form</title>
   
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body bgcolor="darkblue">
      <div class="container">
      <div style="color:whitesmoke;font-size:60px; background-color:cadetblue;" class="text">
         Feedback-Action Form
      </div>

<br><br>

      <form action="#">
         <div class="form-row">
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label style="color:whitesmoke;font-size:15px;" for="">First Name</label>
            </div>
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label style="color:whitesmoke;font-size:15px;" for="">Last Name</label>
            </div>
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label style="color:whitesmoke;font-size:15px;" for="">Email Address</label>
            </div>
         </div>
         <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label style="color:whitesmoke;font-size:15px;" for="">Write your message</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="submit">
               </div>
            </div>
            </center>
            
      </form>
      </div>
   </body>