<!DOCTYPE html>
 <<!DOCTYPE html>
 <html>
 <head>
   <meta charset="utf-8">
   <title>Contact Us Form</title>
   <link rel="stylesheet" type="text/css" href="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
   
   <div class="container">
     <div class="text">Responsive Contact Us Form</div>
     <form action="#">

     <div class="form-row">
       <input type="text">
       <label>First Name</label>
     </div>

     <div class="form-row">
       <input type="text">
       <label>Last Name</label>
     </div>

     <div class="form-row">
       <input type="text">
       <label>Email Address</label>
     </div>

     <div class="form-row textarea">
       <textarea cols="30" rows="10"></textarea>
       <label>Write Us Your Feedback</label>
     </div>

     <div class="form-row submit-btn">
      <div class="input-data">
        <div class="inner"></div>
       <input type="submit" value="submit">
     </div>

     </form>
   </div>
 </body>
 </html>